<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>django+vue的分离应用————简单的测试项目</h1>
<div id="app">
    <table >
        <tr>
            <th>ID</th>
            <th>书名</th>
            <th>价格</th>
        </tr>
        <tr v-for="book in books">
            <td>[[book.id]]</td>
            <td>[[book.title]]</td>
            <td>[[book.price]]</td>
        </tr>
    </table>
</div>
    <script>
        var vm = new Vue({
            el:"#app",

            delimiters:["[[","]]"],

            data:{
                books:[]
            },

            mounted:function() {
                this.fetchdata();
            },

            methods:{
                fetchdata(){
                    axios.get("/testapp/book").then(response=>{
                        this.books=response.data;
                    }),err=>{
                        console.log(err);
                    };
                }
            }

        })
    </script>
</body>
</html>